<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

  <title>Django + Vue CRUD Example</title>
</head>

<body>
  <div id="starting">
    <div class="container">
      <div class="row">
        <h1>
          List of Articles
          <button class="btn btn-success" data-toggle="modal" data-target="#addArticleModal">
            New Article
          </button>
        </h1>
        <table class="table">
          <thead>
            <th scope="col">#</th>
            <th scope="col">Heading</th>
            <th scope="col">Action</th>
          </thead>
          <tbody>
            <tr v-for="article in articles">
              <th scope="row">
                ${ article.article_id }
              </th>
              <td>
                ${ article.article_heading }
              </td>
              <td>
                <button class="btn btn-info" v-on:click="getArticle(article.article_id)">
                  Edit
                </button>
                <button class="btn btn-danger" v-on:click="deleteArticle(article.article_id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form v-on:submit.prevent="addArticle()">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="article_heading">Heading</label>
                    <input type="text" class="form-control" id="article_heading" v-model="newArticle.article_heading" required="required">
                  </div>
                  <div class="form-group">
                    <label for="article_body">Body</label>
                    <textarea id="article_body" cols="30" rows="10" class="form-control" v-model="newArticle.article_body"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="loading" v-if="loading === true">
          <p>Loading...</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>

    <!-- vue files -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <script type="text/javascript">
    new Vue({
      el: '#starting',
      delimiters: ['${','}'],
      data: {
        articles: [],
        loading: false,
        currentArticle: {},
        message: null,
        newArticle: {
          'article_heading': null,
          'article_body': null
        }
      },
      mounted: function() {
        this.getArticles();
      },
      methods: {
        getArticles: function() {
          this.loading = true;
          this.$http.get('/api/article/')
            .then(response => {
              this.articles = response.data;
              this.loading = false
            })
            .catch(e => {
              this.loading = false;
              console.log('GET ARTICLES ERROR::', e);
            });
        },
        getArticle: function() {
          this.loading = true;
          this.$http.get('/api/article/${ id }')
            .then(response => {
              this.currentArticle = response.data;
              this.loading = false
            })
            .catch(e => {
              this.loading = false;
              console.log('GET ARTICLE ERROR::', e);
            });
        },
        addArticle: function() {
          this.loading = true;
          this.$http.post('/api/article', this.newArticle)
            .then(response => {
              this.loading = false;
              this.getArticles();
            })
            .catch(e => {
              this.loading = false;
              console.log('ADD ARTICLE ERROR::', e);
            });
        },
        updateArticle: function() {
          this.loading = true;
          this.$http.put(
            `/api/article/${ this.currentArticle.article_id} `,
            this.currentArticle
            )
            .then(response => {
              this.loading = false;
              this.currentArticle = response.data;
              this.getArticles();
            })
            .catch(e => {
              this.loading = false;
              console.log('UPDATE ARTICLE ERROR:::', e);
            });
        },
        deleteArticle: function(id) {
          this.loading = true;
          this.$http.delete(`/api/article/${ id }`)
            .then(response => {
              this.loading = false;
              this.getArticles();
            })
            .catch(e => {
              this.loading = false;
              console.log('DELETE ARTICLE ERROR:::', e);
            });
        }
      }
    });
  </script>
</body>

</html>
